<div class="section section-nude-gray">
    <div class="container container-tim">
      <div id="comments">
          <div class="title">
              <h3>
                  <small>Comments</small>
              </h3>
          </div>
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                  <div class="media-area">
                      <h3 class="title text-center">
                          <small>10 Comments</small>
                      </h3>
                      <div class="media">
                          <a class="pull-left" href="#pablo">
                              <div class="avatar">
                                  <img class="media-object img-raised" src="assets/img/marie.jpg" alt="..." />
                              </div>
                          </a>
                          <div class="media-body">
                              <h5 class="media-heading">Tina Andrew
                                  <small class="text-muted">&middot; 7 minutes ago</small>
                              </h5>
                              <p>Chance too good. God level bars. I'm so proud of @LifeOfDesiigner #1 song in the country. Panda! Don't be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!</p>
                              <p>All praises and blessings to the families of people who never gave up on dreams. Don't forget, You're Awesome!</p>
                              <div class="media-footer">
                                  <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                      <i class="now-ui-icons ui-1_send"></i> Reply
                                  </a>
                                  <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                      <i class="now-ui-icons ui-2_favourite-28"></i> 243
                                  </a>
                              </div>
                              <div class="media media-post">
                                  <a class="pull-left author" href="#pablo">
                                      <div class="avatar">
                                          <img class="media-object img-raised" alt="64x64" src="assets/img/michael.jpg">
                                      </div>
                                  </a>
                                  <div class="media-body">
                                      <textarea class="form-control" placeholder="Write a nice reply or go home..." rows="4"></textarea>
                                      <div class="media-footer">
                                          <a href="#pablo" class="btn btn-primary pull-right">
                                              <i class="now-ui-icons ui-1_send"></i> Reply
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="media">
                          <a class="pull-left" href="#pablo">
                              <div class="avatar">
                                  <img class="media-object img-raised" alt="Tim Picture" src="assets/img/olivia.jpg">
                              </div>
                          </a>
                          <div class="media-body">
                              <h5 class="media-heading">John Camber
                                  <small class="text-muted">&middot; Yesterday</small>
                              </h5>
                              <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                              <p> Don't forget, You're Awesome!</p>
                              <div class="media-footer">
                                  <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                      <i class="now-ui-icons ui-1_send"></i> Reply
                                  </a>
                                  <a href="#pablo" class="btn btn-default btn-neutral pull-right">
                                      <i class="now-ui-icons ui-2_favourite-28"></i> 25
                                  </a>
                              </div>
                              <div class="media">
                                  <a class="pull-left" href="#pablo">
                                      <div class="avatar">
                                          <img class="media-object img-raised" alt="64x64" src="assets/img/emily.jpg">
                                      </div>
                                  </a>
                                  <div class="media-body">
                                      <h5 class="media-heading">Tina Andrew
                                          <small class="text-muted">&middot; 2 Days Ago</small>
                                      </h5>
                                      <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                      <p> Don't forget, You're Awesome!</p>
                                      <div class="media-footer">
                                          <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                              <i class="now-ui-icons ui-1_send"></i> Reply
                                          </a>
                                          <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                              <i class="now-ui-icons ui-2_favourite-28"></i> 243
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="media">
                          <a class="pull-left" href="#pablo">
                              <div class="avatar">
                                  <img class="media-object img-raised" alt="64x64" src="assets/img/james.jpg">
                              </div>
                          </a>
                          <div class="media-body">
                              <h5 class="media-heading">Rosa Thompson
                                  <small class="text-muted">&middot; 2 Days Ago</small>
                              </h5>
                              <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                              <p> Don't forget, You're Awesome!</p>
                              <div class="media-footer">
                                  <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                      <i class="now-ui-icons ui-1_send"></i> Reply
                                  </a>
                                  <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                      <i class="now-ui-icons ui-2_favourite-28"></i> 243
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="pagination pagination-primary justify-content-center">
                        <ngb-pagination [collectionSize]="60" [(page)]="page1" [maxSize]="5" [rotate]="true" class="pagination-primary"></ngb-pagination>
                      </div>
                  </div>
                  <h4 class="text-center">Post your comment
                      <br>
                      <small class="text-muted">- Logged In User -</small>
                  </h4>
                  <div class="media media-post">
                      <a class="pull-left author" href="#pablo">
                          <div class="avatar">
                              <img class="media-object img-raised" alt="64x64" src="assets/img/james.jpg">
                          </div>
                      </a>
                      <div class="media-body">
                          <textarea class="form-control" placeholder="Write some nice stuff or nothing..." rows="6"></textarea>
                          <div class="media-footer">
                              <a href="#pablo" class="btn btn-primary btn-wd pull-right">Post Comment</a>
                          </div>
                      </div>
                  </div>
                  <!-- end media-post -->
                  <h4 class="text-center">Post your comment
                      <br>
                      <small class="text-muted">- Not Logged In User -</small>
                  </h4>
                  <div class="media media-post">
                      <a class="pull-left author" href="#pablo">
                          <div class="avatar">
                              <img class="media-object img-raised" alt="64x64" src="assets/img/placeholder.jpg" />
                          </div>
                      </a>
                      <div class="media-body">
                          <form class="form">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <input type="text" class="form-control" placeholder="Your Name" />
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <input type="email" class="form-control" placeholder="Your email" />
                                      </div>
                                  </div>
                              </div>
                              <textarea class="form-control" placeholder="Write some nice stuff or nothing..." rows="6"></textarea>
                              <div class="media-footer">
                                  <h6 class="text-muted">Sign in with</h6>
                                  <a href="" class="btn btn-icon btn-round btn-twitter">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                                  <a href="" class="btn btn-icon btn-round btn-facebook">
                                      <i class="fa fa-facebook-square"></i>
                                  </a>
                                  <a href="" class="btn btn-icon btn-round btn-google">
                                      <i class="fa fa-google-plus-square"></i>
                                  </a>
                                  <a href="#pablo" class="btn btn-primary pull-right">Post Comment</a>
                              </div>
                          </form>
                      </div>
                      <!-- end media-body -->
                  </div>
                  <!-- end media-post -->
              </div>
          </div>
      </div>
    </div>
</div>
