<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="col-md-10 mr-auto ml-auto">
    <!--      Wizard container        -->
    <div class="wizard-container" #myWizard>
      <div class="card card-wizard" data-color="red" id="wizardProfile">
        <div class="card-header text-center" data-background-color>
          <h3 class="card-title">Build Your Profile</h3>
          <h3 class="description">
            This information will let us know more about you.
          </h3>
        </div>
        <aw-wizard [navigationMode]='semi-strict' style="position: 'relative'">
          <aw-wizard-step (stepEnter)="validateFirst(0)" [canExit]="!step1Form.invalid">
            <div class="card-body">
              <ng-template awWizardStepTitle>
                <div class="moving-tab" style="transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;" [ngStyle]="movingTabStyle" [innerHTML]="movingTabHTML">
                </div>
                <i class="now-ui-icons users_circle-08"></i>About
              </ng-template>
              <div class="tab-content centered-content">
                <div class="tab-pane">
                  <h5 class="info-text">
                    Let's start with the basic information (with validation)
                  </h5>
                  <div class="row justify-content-center" [formGroup]="step1Form">
                    <div class="col-sm-4">
                      <app-picture-upload></app-picture-upload>
                    </div>
                    <div class="col-sm-6">
                      <div
                        class="input-group form-control-lg"
                        [ngClass]="{ 'input-group-focus': focus === true, 'has-danger': (focusTouched || isValid) && step1.firstName.errors, 'has-success': !(step1.firstName.errors) }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="now-ui-icons users_circle-08"></i>
                          </div>
                        </div>
                        <input
                          type="text"
                          formControlName="firstName"
                          class="form-control"
                          placeholder="First Name (required)"
                          name="firstname"
                          (focus)="focus = true; focusTouched = true"
                          (blur)="focus = false"
                        />
                      </div>
                      <div
                        class="input-group form-control-lg"
                        [ngClass]="{ 'input-group-focus': focus1 === true, 'has-danger': (focus1Touched || isValid) && step1.lastName.errors, 'has-success': !(step1.lastName.errors) }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="now-ui-icons text_caps-small"></i>
                          </div>
                        </div>
                        <input
                          type="text"
                          placeholder="Last Name (required)"
                          class="form-control"
                          formControlName="lastName"
                          name="lastname"
                          (focus)="focus1 = true; focus1Touched = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                    <div class="col-lg-10 mt-3">
                      <div
                        class="input-group form-control-lg"
                        [ngClass]="{ 'input-group-focus': focus2 === true, 'has-danger': (focus2Touched || isValid) && step1.email.errors, 'has-success': !(step1.email.errors) }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="now-ui-icons text_caps-small"></i>
                          </div>
                        </div>
                        <input
                          type="email"
                          placeholder="Email (required)"
                          class="form-control"
                          formControlName="email"
                          name="email"
                          (focus)="focus2 = true; focus2Touched = true"
                          (blur)="focus2 = false"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="pull-right">
                <button
                  type="button"
                  class="btn btn-next btn-fill btn-rose btn-wd"
                  awNextStep
                  (click)="validateFirst(1)"
                >
                  Next
                </button>
              </div>
              <div class="clearfix"></div>
            </div>
          </aw-wizard-step>
          <aw-wizard-step (stepEnter)="validateFirst(1)" [canEnter]="!step1Form.invalid">
            <div class="card-body">
            <ng-template awWizardStepTitle >
              <i class="now-ui-icons ui-1_settings-gear-63"></i>Account
            </ng-template>
            <div class="tab-content centered-content">
              <div class="tab-pane" id="account">
                <h5 class="info-text">What are you doing? (checkboxes)</h5>
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="choice" data-toggle="wizard-checkbox" [ngClass]="{'active': choice1}"   (click)="choice1 = !choice1">
                          <input type="checkbox" name="design" value="Code" [checked]="choice1"/>
                          <div class="icon">
                            <i class="now-ui-icons design-2_ruler-pencil"></i>
                          </div>
                          <h6>Design</h6>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="choice" data-toggle="wizard-checkbox" [ngClass]="{'active': choice2}"   (click)="choice2 = !choice2">
                          <input type="checkbox" name="code" value="Code" [checked]="choice2"/>
                          <div class="icon">
                            <i class="now-ui-icons business_bulb-63"></i>
                          </div>
                          <h6>Code</h6>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="choice" data-toggle="wizard-checkbox" [ngClass]="{'active': choice3}"   (click)="choice3 = !choice3">
                          <input type="checkbox" name="develop" value="Code" [checked]="choice3"/>
                          <div class="icon">
                            <i class="now-ui-icons tech_tv"></i>
                          </div>
                          <h6>Develop</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="card-footer">
              <div class="pull-left">
                <button
                  type="button"
                  class="btn btn-next btn-fill btn-rose btn-wd"
                  awPreviousStep
                  (click)="validateFirst(0)"
                >
                  Prev
                </button>
              </div>
              <div class="pull-right">
                <button
                  type="button"
                  class="btn btn-next btn-fill btn-rose btn-wd"
                  awNextStep
                  (click)="validateFirst(2)"
                >
                  Next
                </button>
              </div>
              <div class="clearfix"></div>
            </div>
          </aw-wizard-step>
          <aw-wizard-step [canEnter]="!step1Form.invalid" (stepEnter)="validateFirst(2)">
            <div class="card-body">
            <ng-template awWizardStepTitle>
              <i class="now-ui-icons ui-1_email-85"></i>Address
            </ng-template>

            <div class="tab-content centered-content">
              <div class="tab-pane" id="address">
                <div class="row justify-content-center">
                  <div class="col-sm-12">
                    <h5 class="info-text">Are you living in a nice area?</h5>
                  </div>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <label>Street Name</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Street No.</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label>City</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="">
                      <label>Country</label>
                      <angular2-multiselect
                        [data]="dropdownList1"
                        [(ngModel)]="selectedItems1"
                        [settings]="dropdownSettings1"
                        (onSelect)="onItemSelect($event)"
                        (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"
                      >
                      </angular2-multiselect>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="card-footer">
              <div class="pull-left">
                <button
                  type="button"
                  class="btn btn-next btn-fill btn-rose btn-wd"
                  awPreviousStep
                  (click)="validateFirst(1)"
                >
                  Prev
                </button>
              </div>
              <div class="pull-right">
                <button
                  type="button"
                  class="btn btn-next btn-fill btn-rose btn-wd"
                  awNextStep
                >
                  Finish
                </button>
              </div>
              <div class="clearfix"></div>
            </div>
          </aw-wizard-step>
        </aw-wizard>
      </div>
    </div>
    <!-- wizard container -->
  </div>
</div>
