<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card card-wizard" data-color="rose" id="wizardProfile">
            <form [formGroup]="type" action="" method="">
              <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
              <div class="card-header text-center">
                <h3 class="card-title">
                  Build Your Profile
                </h3>
                <h5 class="card-description">This information will let us know more about you.</h5>
              </div>
              <div class="wizard-navigation">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                      About
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                      Account
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                      Address
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="about">
                    <h5 class="info-text"> Let's start with the basic information (with validation)</h5>
                    <div class="row justify-content-center">
                      <div class="col-sm-4">
                        <div class="picture-container">
                          <div class="picture">
                            <img src="./assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                            <input type="file" id="wizard-picture">
                          </div>
                          <h6 class="description">Choose Picture</h6>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'firstName')">
                            <input type="text"
                            name="firstname"
                            matInput
                            id="text"
                            placeholder="First Name"
                            formControlName="firstName">
                          </mat-form-field>
                        </div>
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">record_voice_over</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'lastName')">
                            <input type="text"
                            name="lastname"
                            matInput
                            id="text"
                            placeholder="last Name"
                            formControlName="lastName">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-10 mt-3">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">email</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                             <input matInput placeholder="Email (required)" [formControl]="emailFormControl"
                               type="email" id="exampleemalil" name="email">
                           </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="account">
                    <h5 class="info-text"> What are you doing? (checkboxes) </h5>
                    <div class="row justify-content-center">
                      <div class="col-lg-10">
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="choice" data-toggle="wizard-checkbox">
                              <input type="checkbox" name="jobb" value="Design">
                              <div class="icon">
                                <i class="fa fa-pencil"></i>
                              </div>
                              <h6>Design</h6>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="choice" data-toggle="wizard-checkbox">
                              <input type="checkbox" name="jobb" value="Code">
                              <div class="icon">
                                <i class="fa fa-terminal"></i>
                              </div>
                              <h6>Code</h6>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="choice" data-toggle="wizard-checkbox">
                              <input type="checkbox" name="jobb" value="Develop">
                              <div class="icon">
                                <i class="fa fa-laptop"></i>
                              </div>
                              <h6>Develop</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="address">
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <h5 class="info-text"> Are you living in a nice area? </h5>
                      </div>
                      <div class="col-sm-7">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="Street Name">
                        </mat-form-field>
                      </div>
                      <div class="col-sm-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="Street No.">
                        </mat-form-field>
                      </div>
                      <div class="col-sm-5">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="City">
                        </mat-form-field>
                      </div>
                      <div class="col-sm-5">
                          <mat-form-field>
                              <mat-select placeholder="Single City" name="city">
                                <mat-option *ngFor="let city of cities" [value]="city.value">
                                  {{ city.viewValue }}
                                </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="mr-auto">
                  <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
                </div>
                <div class="ml-auto">
                  <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">
                  <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Finish" style="display: none;">
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
        <!-- wizard container -->
      </div>
    </div>
  </div>
</div>
