<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="content-center">
            <div class="photo-container">
                <img src="assets/img/ryan.jpg" alt="">
            </div>
            <h3 class="title">Ryan Scheinder</h3>
            <p class="category">Photographer</p>
            <div class="content">
                <div class="social-description">
                    <h2>26</h2>
                    <p>Comments</p>
                </div>
                <div class="social-description">
                    <h2>26</h2>
                    <p>Comments</p>
                </div>
                <div class="social-description">
                    <h2>48</h2>
                    <p>Bookmarks</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" placement="top" ngbTooltip="Follow me on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" placement="top" ngbTooltip="Follow me on Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <h3 class="title">About me</h3>
            <h5 class="description text-center">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">My Portfolio</h4>
                      <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons design_image"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-5 ml-auto mr-auto">
                                        <div class="card card-background card-background-product card-raised" style="background-image: url('assets/img/bg23.jpg')">
                                            <div class="card-body">
                                                <h2 class="card-title">Chair remake.</h2>
                                                <p class="card-description text-white">
                                                    Trello’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and rewarding way. It was a great project and I would be more than happy to do it again.
                                                </p>
                                                <label class="badge badge-neutral">Trello</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 ml-auto mr-auto">
                                        <div class="info info-horizontal">
                                            <div class="icon icon-warning">
                                                <i class="now-ui-icons users_single-02"></i>
                                            </div>
                                            <div class="description">
                                                <h5 class="info-title">Work With Any Team</h5>
                                                <p class="description">
                                                    Whether it’s for work or even the next family vacation, Trello helps your team.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info info-horizontal">
                                            <div class="icon icon-warning">
                                                <i class="now-ui-icons business_chart-bar-32"></i>
                                            </div>
                                            <div class="description">
                                                <h5 class="info-title">A Productivity Platform</h5>
                                                <p class="description">
                                                    Integrate the apps your team already uses directly into your workflow.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons location_world"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-5 ml-auto mr-auto">
                                        <div class="card card-background card-background-product card-raised" style="background-image: url('assets/img/project8.jpg')">
                                            <div class="card-body">
                                                <h2 class="card-title">Social Analytics</h2>
                                                <p class="card-description">
                                                    Insight to help you create, connect, and convert. Understand Your Audience's Interests, Influence, Interactions, and Intent. Discover emerging topics and influencers to reach new audiences.
                                                </p>
                                                <label class="badge badge-neutral">Analytics</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 ml-auto mr-auto">
                                        <div class="info info-horizontal">
                                            <div class="icon icon-danger">
                                                <i class="now-ui-icons ui-2_chat-round"></i>
                                            </div>
                                            <div class="description">
                                                <h5 class="info-title">Listen to Social Conversations</h5>
                                                <p class="description">
                                                    Gain access to the demographics, psychographics, and location of unique people who talk about your brand.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info info-horizontal">
                                            <div class="icon icon-danger">
                                                <i class="now-ui-icons design-2_ruler-pencil"></i>
                                            </div>
                                            <div class="description">
                                                <h5 class="info-title">Social Conversions</h5>
                                                <p class="description">
                                                    Track actions taken on your website that originated from social, and understand the impact on your bottom line.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons design-2_ruler-pencil"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-5 ml-auto mr-auto">
                                        <div class="card card-background card-background-product card-raised" style="background-image: url('assets/img/bg25.jpg')">
                                            <div class="card-body">
                                                <h2 class="card-title">Interior Redesign</h2>
                                                <p class="card-description">
                                                    Insight to help you create, connect, and convert. Understand Your Audience's Interests, Influence, Interactions, and Intent. Discover emerging topics and influencers to reach new audiences.
                                                </p>
                                                <label class="badge badge-neutral">Interior</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 ml-auto mr-auto">
                                        <div class="info info-horizontal">
                                            <div class="icon icon-info">
                                                <i class="now-ui-icons design_palette"></i>
                                            </div>
                                            <div class="description">
                                                <h5 class="info-title">Colors adjustments</h5>
                                                <p class="description">
                                                    Gain access to the demographics, psychographics, and location of unique people who talk about your brand.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info info-horizontal">
                                            <div class="icon icon-info">
                                                <i class="now-ui-icons design_scissors"></i>
                                            </div>
                                            <div class="description">
                                                <h5 class="info-title">Performance Clothing</h5>
                                                <p class="description">
                                                    Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights from easy-to-use reports.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    CONTACT US 2     *********      -->
    <div class="contactus-2">
      <div class="map">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
      </div>
        <div class="col-lg-6 col-md-10">
            <div class="card card-contact card-raised">
                <form role="form" id="contact-form" method="post">
                    <div class="card-header text-center">
                        <h4 class="card-title">Contact Us</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="now-ui-icons tech_mobile"></i>
                                    </div>
                                    <div class="description">
                                        <h5 class="info-title">Give us a ring</h5>
                                        <p> Michael Jordan
                                            <br> +40 762 321 762
                                            <br> Mon - Fri, 8:00-22:00
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="now-ui-icons location_pin"></i>
                                    </div>
                                    <div class="description">
                                        <h5 class="info-title">Find us at the office</h5>
                                        <p> Bld Mihail Kogalniceanu, nr. 8,
                                            <br> 7652 Bucharest,
                                            <br> Romania
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-2">
                                <label>Full name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                                  </div>
                                    <input type="text" class="form-control" placeholder="First Name..." (focus)="focus=true" (blur)="focus=false">
                                </div>
                            </div>
                            <div class="col-md-6 pl-2">
                                <label>Email address</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                  </div>
                                    <input type="email" placeholder="Email Here..." class="form-control" (focus)="focus1=true" (blur)="focus1=false">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-check">
                                  <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox">
                                      <span class="form-check-sign"></span>
                                        I'm not a robot
                                  </label>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-round pull-right">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--     *********    END CONTACT US 2      *********      -->
    <footer class="footer footer-default ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/license">
                            License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
