<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">
            Navigation Pills -
            <small class="description">Horizontal Tabs</small>
          </h4>
        </div>
        <div class="card-body ">
          <ngb-tabset
            type="pills"
            class="nav nav-pills nav-pills-primary justify-content-start tab-space"
          >
            <ngb-tab title="Profile">
              <ng-template ngbTabContent>
                Collaboratively administrate empowered markets via plug-and-play
                networks. Dynamically procrastinate B2C users after installed
                base benefits. <br />
                <br />
                Dramatically visualize customer directed convergence without
                revolutionary ROI.
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Settings">
              <ng-template ngbTabContent>
                Efficiently unleash cross-media information without cross-media
                value. Quickly maximize timely deliverables for real-time
                schemas. <br />
                <br />Dramatically maintain clicks-and-mortar solutions without
                functional solutions.
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Options">
              <ng-template ngbTabContent>
                Completely synergize resource taxing relationships via premier
                niche markets. Professionally cultivate one-to-one customer
                service with robust ideas. <br />
                <br />Dynamically innovate resource-leveling customer service
                for state of the art customer service.
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">
            Navigation Pills - <small class="description">Vertical Tabs</small>
          </h4>
        </div>
        <div class="card-body ">
          <div class="nav-pills-navigation">
            <div class="nav-pills-wrapper">
              <ngb-tabset
                type="pills"
                class="nav nav-pills nav-pills-primary vertical-pills"
                [orientation]="'vertical'"
              >
                <ngb-tab title="Profile">
                  <ng-template ngbTabContent class="tab-space">
                    Collaboratively administrate empowered markets via
                    plug-and-play networks. Dynamically procrastinate B2C users
                    after installed base benefits. <br />
                    <br />
                    Dramatically visualize customer directed convergence without
                    revolutionary ROI.
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Settings">
                  <ng-template ngbTabContent>
                    Efficiently unleash cross-media information without
                    cross-media value. Quickly maximize timely deliverables for
                    real-time schemas. <br />
                    <br />Dramatically maintain clicks-and-mortar solutions
                    without functional solutions.
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Options">
                  <ng-template ngbTabContent>
                    Completely synergize resource taxing relationships via
                    premier niche markets. Professionally cultivate one-to-one
                    customer service with robust ideas. <br />
                    <br />Dynamically innovate resource-leveling customer
                    service for state of the art customer service.
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <ngb-accordion
            #acc="ngbAccordion"
            activeIds="ngb-panel-0"
            class="card-collapse inner-cards-plain"
          >
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <!-- <a class="collapsed" (click)="myFunc($event)"> -->
                Collapsible Group Item #1
                <i class="now-ui-icons arrows-1_minimal-down"></i>
                <!-- </a> -->
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <a class="collapsed">
                  Collapsible Group Item #2
                  <i class="now-ui-icons arrows-1_minimal-down"></i>
                </a>
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <a class="collapsed">
                  Collapsible Group Item #3
                  <i class="now-ui-icons arrows-1_minimal-down"></i>
                </a>
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">
            Navigation Pills Icons -
            <small class="description">Vertical Tabs</small>
          </h4>
        </div>
        <div class="card-body ">
          <div class="nav-pills-navigation">
            <div class="nav-pills-wrapper">
              <ngb-tabset
                type="pills"
                class="nav nav-pills nav-pills-primary vertical-pills nav-pills-icons"
                [orientation]="'vertical'"
              >
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <i class="now-ui-icons objects_umbrella-13"></i> Home
                  </ng-template>
                  <ng-template ngbTabContent>
                    Collaboratively administrate empowered markets via
                    plug-and-play networks. Dynamically procrastinate B2C users
                    after installed base benefits. <br />
                    <br />
                    Dramatically visualize customer directed convergence without
                    revolutionary ROI.
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <i class="now-ui-icons ui-2_settings-90"></i> Settings
                  </ng-template>
                  <ng-template ngbTabContent>
                    Efficiently unleash cross-media information without
                    cross-media value. Quickly maximize timely deliverables for
                    real-time schemas. <br />
                    <br />Dramatically maintain clicks-and-mortar solutions
                    without functional solutions.
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card card-plain card-subcategories">
        <div class="card-header ">
          <h4 class="card-title text-center">Page Subcategories</h4>
          <br />
        </div>
        <div class="card-body ">
          <!--
                              color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                          -->

          <ngb-tabset
            type="pills"
            class="nav nav-pills nav-pills-primary justify-content-center tab-space tab-subcategories nav-pills-icons"
          >
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="now-ui-icons objects_umbrella-13"></i> Home
              </ng-template>
              <ng-template ngbTabContent>
                Collaboratively administrate empowered markets via plug-and-play
                networks. Dynamically procrastinate B2C users after installed
                base benefits. <br />
                <br />
                Dramatically visualize customer directed convergence without
                revolutionary ROI.
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="now-ui-icons shopping_shop"></i> Messages
              </ng-template>
              <ng-template ngbTabContent>
                Efficiently unleash cross-media information without cross-media
                value. Quickly maximize timely deliverables for real-time
                schemas. <br />
                <br />Dramatically maintain clicks-and-mortar solutions without
                functional solutions.
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="now-ui-icons ui-2_settings-90"></i> Settings
              </ng-template>
              <ng-template ngbTabContent>
                Completely synergize resource taxing relationships via premier
                niche markets. Professionally cultivate one-to-one customer
                service with robust ideas. <br />
                <br />Dynamically innovate resource-leveling customer service
                for state of the art customer service.
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
