<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/presentation']">Paper Kit 2 PRO Angular</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Components</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a ngbDropdownItem [routerLink]="['/components']"><i class="nc-icon nc-tile-56"></i>All Components</a>
                        <a ngbDropdownItem [routerLink]="['/presentation']"><i class="nc-icon nc-settings"></i>Presentation</a>
                        <a ngbDropdownItem href="https://demos.creative-tim.com/paper-kit-2-pro-angular/#/documentation/introduction"><i class="nc-icon nc-bullet-list-67"></i>Documentation</a>
                    </div>
                </div>
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Sections</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="headers"><i class="nc-icon nc-tile-56"></i>&nbsp; Headers</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="features"><i class="nc-icon nc-settings"></i>&nbsp; Features</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="blogs"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Blogs</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="teams"><i class="nc-icon nc-single-02"></i>&nbsp; Teams</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="projects"><i class="nc-icon nc-calendar-60"></i>&nbsp; Projects</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="pricing"><i class="nc-icon nc-money-coins"></i>&nbsp; Pricing</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="testimonials"><i class="nc-icon nc-badge"></i>&nbsp; Testimonials</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="contact-us"><i class="nc-icon nc-mobile"></i>&nbsp; Contacts</a>
                    </div>
                </div>
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Examples</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" [routerLink]="['/examples/aboutus']"><i class="nc-icon nc-bank"></i>&nbsp; About Us</a>
                        <a class="dropdown-item" [routerLink]="['/examples/addproduct']"><i class="nc-icon nc-basket"></i>&nbsp; Add Product</a>
                        <a class="dropdown-item" [routerLink]="['/examples/blogpost']"><i class="nc-icon nc-badge"></i>&nbsp; Blog Post</a>
                        <a class="dropdown-item" [routerLink]="['/examples/blogposts']"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Blog Posts</a>
                        <a class="dropdown-item" [routerLink]="['/examples/contactus']"><i class="nc-icon nc-mobile"></i>&nbsp; Contact Us</a>
                        <a class="dropdown-item" [routerLink]="['/examples/discover']"><i class="nc-icon nc-world-2"></i>&nbsp; Discover</a>
                        <a class="dropdown-item" [routerLink]="['/examples/ecommerce']"><i class="nc-icon nc-send"></i>&nbsp; Ecommerce</a>
                        <a class="dropdown-item" [routerLink]="['/examples/landing']"><i class="nc-icon nc-spaceship"></i>&nbsp; Landing Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/login']"><i class="nc-icon nc-lock-circle-open"></i>&nbsp; Login Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/productpage']"><i class="nc-icon nc-album-2"></i>&nbsp; Product Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/profile']"><i class="nc-icon nc-single-02"></i>&nbsp; Profile Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/register']"><i class="nc-icon nc-bookmark-2"></i>&nbsp; Register Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/search']"><i class="nc-icon nc-zoom-split"></i>&nbsp; Search Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/settings']"><i class="nc-icon nc-settings-gear-65"></i>&nbsp; Settings Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/twitter']"><i class="nc-icon nc-tie-bow"></i>&nbsp; Twitter</a>
                    </div>
                </div>
                <li class="nav-item">
                    <a class="btn btn-round btn-danger" href="https://www.creative-tim.com/product/paper-kit-2-pro-angular">
                        <i class="nc-icon nc-cart-simple"></i> Buy now
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
