<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">FullCalendar.io</h2>
    <p class="category">
      Handcrafted by our friends from
      <a target="_blank" href="https://fullcalendar.io/">FullCalendar.io</a>.
      Please checkout their
      <a href="https://fullcalendar.io/docs/" target="_blank"
        >full documentation</a
      >.
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card card-calendar">
        <div class="card-body">
          <div id='calendar'></div>
          <!-- <div id='destination-calendar'></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
