<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Devextreme</h2>
    <p class="category">
      Looks great on any resolution. Made by
      <a
        target="_blank"
        href="https://js.devexpress.com/Demos/WidgetsGallery/Demo/VectorMap/ColorsCustomization/Angular/Light/"
        >Vector Map</a
      >.
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-body ">
          <div id="worldMap" class="map map-big">
            <app-vector-map-component></app-vector-map-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
